<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Nyaruko Clipboard</string>
    <key>CFBundleIdentifier</key>
    <string>moe.yashi.nyarukoclipboard</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>NyarukoClipboard</string>
    <key>CFBundleIconFile</key>
    <string>icon.icns</string>
</dict>
</plist>
